# folders
.cache/
.d/
.vscode/
bin/
firmware/
include/
src/test/
node_modules/
*/node_modules

# files
.DS_Store
common.mk
compile_commands.json
Makefile
project.pros
temp.errors
temp.log

# extensions
*.ini
package-lock.json
package.json
